.container {
  height: 400px;
  width: 300px;
  border-color: blue;
  border: black;
  border-radius: 8px;
  border-width: 50px;
  margin: 20px;
  padding: 0px !important;
  position: relative;
  background-color: #e8e8e8;
  cursor: pointer;
}
.image {
  height: 50%;
  width: 100%;
  border-radius: 8px;
}
.propertyName {
  height: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 29px;
  margin-top: 25px;
}
.propName {
  margin: 25px;
  justify-content: center;
  font-family: "Noto Sans JP", sans-serif;
}
.area {
  color: rgb(255, 56, 92);
}
.NeighbourhoodName {
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}

.rating {
  height: 7%;
  width: 300px;
  color: #717171 !important;
}
.ratings {
  font-weight: 600;
  color: black;
}
.description {
  height: 10%;
  width: 300px;
}
.pricetag {
  height: 10%;
}
.details {
  color: #717171 !important;
}
.price {
  font-weight: bolder;
  font-size: larger;
}
.price-text {
  font-size: large;
}
